<!DOCTYPE html>
<html>
<head>
  <title>BrianDotCom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="hang-up"></div>
    <div class="hang-down"></div>
    <section class="top-weird-corner"><div class="inward-curve"></div></section>
    <section class="bottom-weird-corner"><div class="inward-curve"></div></section>
    <div class="corner">
      <img src=
        "https://scontent-lax3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11822715_10103794455841903_1925710574001809883_n.jpg?oh=53fd144b2f7bfd66432297955644886d&oe=576B08CD"
        alt="brian's beautiful profile pic"
        id="profile_pic" />
    </div>
    <div class="corner-buffer"></div>
  </header>

<%= yield %>

</body>
</html>
